html,body{
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("/home/vadim/Изображения/lol.jpeg");
}
.warning{
    background-color: red;
}
p{
    text-align: center;
}